@charset "UTF-8";
/* Colors */
/*Base HTML*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  background-origin: border-box;
  font-size: 1rem;
}

body {
  background-color: #0D0D0D;
  font-size: 1rem;
  color: #F2F2F2;
  line-height: 1.6;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #df0837;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
}

h2 {
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #df0837;
  text-align: center;
}

h3 {
  font-size: 2.8;
}

textarea {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
}

.backdrop.fade {
  opacity: 0;
}

.backdrop.show {
  opacity: 0.5;
}

.navigation .mobile-navigation {
  padding: 0.75rem 1rem;
  background-color: initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border-bottom: 2px solid transparent;
}
.navigation .mobile-navigation .logo {
  color: #fff;
}
.navigation .mobile-navigation .logo:focus {
  color: #fff;
}
.navigation .mobile-navigation .logo:hover {
  color: #fff;
}
.navigation .mobile-navigation .logo img {
  width: auto;
  height: 50px;
  transition: height 0.15s ease-in-out, width 0.15s ease-in-out;
}
.navigation .mobile-navigation .logo img.color {
  display: none;
}
.navigation .sidebar {
  margin-right: -250px;
  width: 100%;
  max-width: 250px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  overflow-y: auto;
  transition: margin-right 0.25s;
}
.navigation .sidebar.show {
  margin-right: 0;
  z-index: 2020;
}
.navigation .sidebar-top {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #db0948;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.navigation .sidebar-bottom {
  margin-top: auto;
  padding: 1rem 0.5rem;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
.navigation .nav {
  flex-direction: column;
}
.navigation .nav.main-navigation {
  margin-bottom: 1rem;
}
.navigation .nav-link {
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.navigation .nav-link:focus {
  color: #fff;
}
.navigation .nav-link:hover {
  color: #fff;
}
.navigation .nav-link.hover-red:hover {
  background-color: #df0837;
}
.navigation .lang-dropdown {
  margin-left: auto;
  margin-right: 1rem;
}
.navigation .lang-dropdown button {
  font-style: normal;
}
.navigation .lang-dropdown .btn {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #fff;
}
.navigation .lang-dropdown .btn:active:focus {
  box-shadow: none;
}
.navigation .lang-dropdown .btn:focus {
  box-shadow: none;
}
.navigation .lang-dropdown .dropdown-menu {
  padding: 0;
  width: 100%;
  min-width: auto;
  background-color: #df0837;
}
.navigation .lang-dropdown .dropdown-item {
  padding: 0.25rem;
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  box-sizing: border-box;
}
.navigation .lang-dropdown .dropdown-item:focus {
  background-color: #df0837;
}
.navigation .lang-dropdown .dropdown-item:hover {
  background-color: #df0837;
}

.navigation.colorized .logo img {
  height: 38px;
}

.btn {
  color: #F2F2F2;
}
.btn .svg-inline--fa {
  color: #F2F2F2;
  display: inline-block;
  font-size: 1.5rem;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.btn .svg-inline--fa:hover {
  color: #df0837;
}

.contenedor-header {
  z-index: 20;
  bottom: 1.5rem;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedor-header .logo-fixed {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.contenedor-header .logo-fixed img {
  justify-content: center;
  width: 40%;
}
.contenedor-header .logo-fixed p {
  display: flex;
  align-items: center;
  color: white;
  margin-top: -0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-shadow: black 0 1px;
  text-align: center;
  font-size: 0.66rem;
}
.contenedor-header .logo-fixed h1 {
  padding: 0;
  text-align: center;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  text-shadow: black 0 1px;
  font-size: 2.38rem;
}

.titler {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.titler h1 {
  margin: 0;
}
.titler h2 {
  margin: 0;
}
.titler .btn {
  white-space: nowrap;
}

@media (max-width: 991.98px) {
  .navigation.colorized .mobile-navigation {
    background-color: #000000;
    border-color: #c01a1a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }
}
@media (min-width: 992px) {
  .navigation {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: initial;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border-bottom: 2px solid transparent;
  }
  .navigation > .container {
    display: flex;
  }
  .navigation .mobile-navigation {
    padding: 0;
    position: relative;
    z-index: auto;
  }
  .navigation .sidebar {
    margin-right: 0;
    background-color: initial;
    max-width: none;
    position: relative;
    transition: none;
    flex-direction: row;
    align-items: center;
    overflow: initial;
  }
  .navigation .sidebar-bottom {
    display: none;
  }
  .navigation .sidebar-top {
    display: none;
  }
  .navigation .nav {
    flex-direction: row;
  }
  .navigation .nav.main-navigation {
    margin-right: 0.5rem;
    margin-left: auto;
    margin-bottom: 0;
  }
  .navigation .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.2rem;
  }
  .navigation .lang-dropdown {
    margin: 0;
    width: auto;
  }

  .navigation.colorized {
    background-color: #000000;
    border-color: #d30241;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }
}
.contenedor-header {
  z-index: 20;
  bottom: 1.5rem;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedor-header .logo-fixed {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.contenedor-header .logo-fixed img {
  justify-content: center;
  width: 230px;
}
@media only screen and (min-width: 768px) {
  .contenedor-header .logo-fixed img {
    width: 330px;
  }
}
@media only screen and (min-width: 992px) {
  .contenedor-header .logo-fixed img {
    width: 400px;
  }
}
@media only screen and (min-width: 1920px) {
  .contenedor-header .logo-fixed img {
    width: 450px;
  }
}
.contenedor-header .logo-fixed p {
  display: flex;
  align-items: center;
  color: white;
  margin-top: -0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-shadow: black 0 1px;
  text-align: center;
  font-size: 0.7rem;
}
.contenedor-header .logo-fixed h1 {
  padding: 0;
  text-align: center;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  text-shadow: black 0 1px;
  font-size: 2.5rem;
}

.carousel {
  min-height: 100vh;
  width: 100%;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
}

.carousel img {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
  filter: brightness(85%);
}

.semblanza {
  background-image: url(../img/rotten-pork-line-up.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 30vh;
}
.semblanza__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.699);
}
.semblanza__text {
  width: 70%;
  font-weight: 400;
  color: #F2F2F2;
  text-align: center;
}

.music {
  padding: 2rem;
  background: #262626;
}
.music__container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #F2F2F2;
  text-align: center;
}
.music__albums {
  margin: 0.6rem;
  width: 400px;
}
.music__container-text {
  display: flex;
  justify-content: center;
}
.music__text {
  font-size: 1.2rem;
}
.music__year {
  margin-top: -0.5rem;
}

.integrantes {
  width: 90%;
  margin: auto;
}
.integrantes h2 {
  font-weight: 600;
  color: #df0837;
  text-align: center;
  margin-top: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.members {
  margin: 0.5rem auto 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.members p {
  color: white;
  text-align: center;
}
.members h3 {
  color: white;
  text-align: center;
}
.members img {
  padding: 2rem;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.tns-nav {
  text-align: center;
  margin-top: 13px;
  padding-bottom: 2rem;
}

.tns-nav button {
  width: 9px;
  height: 9px;
  border-radius: 20px;
  border: none;
  padding: 0;
  margin: 0 5px;
  background-color: #bebebe63;
}

.tns-nav button.tns-nav-active {
  background-color: #df0837;
}

.videos {
  padding: 2rem;
  background: #262626;
}
.videos__contenedor {
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: auto;
}
.videos .embed-responsive-16by9 {
  margin-top: 1.5rem;
}
.videos__description {
  margin-top: 1rem;
  color: #F2F2F2;
  text-align: center;
}
.videos__titulo {
  font-weight: 600;
}
.videos__año {
  font-weight: 400;
  font-size: 1.16rem;
  line-height: 1.5rem;
}

.dates {
  padding-top: 2rem;
  width: 100%;
}
.dates h2 {
  text-align: center;
  color: #df0837;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.dates__flyers {
  position: relative;
  overflow: hidden;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .dates__flyers {
    dmargin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}
.dates__gig {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.dates__description {
  color: #F2F2F2;
  margin-top: 1rem;
  text-align: center;
}
.dates .embed-responsive-9by16 {
  padding: 0;
  overflow: hidden;
  height: 400px;
}

.footer {
  width: 100%;
  background: #262626;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.footer__autor p {
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
}
.footer__logo {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer__logo img {
  width: 150px;
}
.footer__menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.footer__menu a {
  color: #F2F2F2;
  font-weight: 600;
}
.footer__menu a:hover {
  text-decoration: none;
}
.footer__menu ul {
  width: 230px;
  display: flex;
  flex-flow: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  color: #F2F2F2;
}
@media only screen and (min-width: 768px) {
  .footer__menu ul {
    width: 230px;
  }
}
.footer .social {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}
.footer .social__icons {
  width: 150px;
  display: flex;
  flex-flow: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  color: whitesmoke;
}
.footer .social__icons a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .footer .social__icons {
    width: 150px;
  }
}
.footer .social__icons__icon {
  padding: 2rem;
  color: whitesmoke;
}
.footer .social__icons__icon a {
  text-decoration: none;
}
.footer .social__icons__icon a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
