@charset "UTF-8";
/* Colors */
/* Headers Size */
/*Base HTML*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  background-origin: border-box;
  font-size: 1rem;
}
html h1 {
  font-family: Inter, sans-serif;
}
html h2 {
  font-family: Inter, sans-serif;
}
html h3 {
  font-family: Inter, sans-serif;
}
html h4 {
  font-family: Inter, sans-serif;
}
html h5 {
  font-family: Inter, sans-serif;
}
html h6 {
  font-family: Inter, sans-serif;
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 88%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (min-width: 1920px) {
  html {
    font-size: 87%;
  }
}

body {
  background-color: #0D0D0D;
  font-size: 1rem;
  color: #F2F2F2;
  line-height: 1.6;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #df0837;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
}

h2 {
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #df0837;
  text-align: center;
}

h3 {
  font-size: 2.8;
}

textarea {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.navbar {
  top: 0;
  z-index: 100;
  height: 10vh;
  position: fixed;
  width: 100%;
  transition: ease-in-out 0.5s;
  display: flex;
  justify-content: space-around;
}
.navbar__logo {
  width: 30%;
}
.navbar__logo img {
  width: 30%;
  margin-left: 2rem;
}
.navbar__links {
  display: flex;
  list-style: none;
  width: 30%;
  padding-right: 3rem;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
@media only screen and (max-width: 1024px) {
  .navbar__links {
    width: 40%;
  }
}
@media only screen and (max-width: 900px) {
  .navbar__links {
    z-index: 50;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
}
.navbar__item {
  font-size: 1rem;
  display: inline-block;
}
.navbar__item a {
  text-decoration: none;
  color: #F2F2F2;
  font-weight: 600;
}
.navbar__item a:hover {
  color: #df0837;
  text-decoration: none;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}
.navbar__hamburguer {
  z-index: 105;
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .navbar__hamburguer {
    display: block;
    margin-left: 3rem;
  }
}
.navbar__hamburguer div {
  z-index: 105;
  width: 25px;
  height: 3px;
  background-color: #F2F2F2;
  margin: 5px;
}
.navbar .nav-active {
  transform: translateX(0%);
}

.contenedor-header {
  z-index: 20;
  bottom: 1.5rem;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedor-header .logo-fixed {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.contenedor-header .logo-fixed img {
  justify-content: center;
  width: 20%;
}
.contenedor-header .logo-fixed p {
  display: flex;
  align-items: center;
  color: #F2F2F2;
  margin-top: -0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-shadow: black 0 1px;
  text-align: center;
}
.contenedor-header .logo-fixed h1 {
  padding: 0;
  text-align: center;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
  font-weight: 700;
  text-shadow: black 0 1px;
  font-size: 3.38rem;
}

.carousel {
  min-height: 100vh;
  width: 100%;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
}

.carousel img {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
  filter: brightness(85%);
}

.semblanza {
  background-image: url(../img/rotten-pork-line-up.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 30vh;
}
.semblanza__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.699);
}
.semblanza__text {
  width: 70%;
  font-weight: 400;
  color: #F2F2F2;
  text-align: center;
}

.music {
  padding: 2rem;
  background: #262626;
}
.music__container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #F2F2F2;
  text-align: center;
}
.music__albums {
  margin: 0.6rem;
  width: 400px;
}
.music__container-text {
  display: flex;
  justify-content: center;
}
.music__text {
  font-size: 1.2rem;
}
.music__year {
  margin-top: -0.5rem;
}

.integrantes h2 {
  font-weight: 600;
  color: #df0837;
  text-align: center;
  margin-top: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.members {
  padding: 0;
  margin: 2rem auto 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.members p {
  color: white;
  text-align: center;
}
.members h3 {
  color: white;
  text-align: center;
}
.members img {
  padding-right: 30px;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.tns-nav {
  text-align: center;
  margin-top: 13px;
  padding-bottom: 2rem;
}

.tns-nav button {
  width: 11px;
  height: 11px;
  border-radius: 20px;
  border: none;
  padding: 0;
  margin: 0 5px;
  background-color: #bebebe63;
}

.tns-nav button.tns-nav-active {
  background-color: #df0837;
}

.videos {
  padding: 2rem;
  background: #262626;
}
.videos__contenedor {
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: auto;
}
.videos .embed-responsive-16by9 {
  margin-top: 4rem;
}
.videos__description {
  margin-top: 1rem;
  color: #F2F2F2;
  text-align: center;
}
.videos__titulo {
  font-weight: 600;
}
.videos__año {
  font-weight: 400;
  font-size: 1.16rem;
  line-height: 1.4rem;
}

.dates {
  padding-top: 2rem;
}
.dates h2 {
  text-align: center;
  margin-top: 2rem;
  color: #df0837;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.dates__flyers {
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.dates__gig {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  overflow: hidden;
}
.dates__description {
  color: #F2F2F2;
  margin-top: 1rem;
}
.dates .embed-responsive-9by16 {
  padding: 0;
  overflow: hidden;
  height: 400px;
}

footer {
  padding-top: 2rem;
  background: #262626;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}
footer img {
  width: 20%;
}
footer p {
  color: #F2F2F2;
}
footer .social {
  display: flex;
  justify-content: space-evenly;
  width: 9rem;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
