
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    
}
body{
    background-color: $background;
}

.contenedor-header{
    z-index: 20;
    bottom: 1.5rem;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo-fixed{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        img{
         justify-content: center;
         width: 20%;
        }
            p{
                padding: 0;
                display: flex;
                align-items: center;
                color: $red;
                margin-bottom: 1rem;
                letter-spacing: .1rem;
                font-weight: 900;
                text-align: center;
            }
            h1{
                text-align: center;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
        
            }
        }
    } 
            




.carousel{
   
    min-height: 100vh;
    width: 100%;
}

.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}




.carousel-item {
    position: relative;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden; 
}

.carousel img{
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    filter: brightness(85%);
}



.navbar-light .navbar-brand img{
    width: 30%;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
    margin-left: 1.2em;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: $red;
}



.semblanza{
    background-image: url(../img/rotten-pork-line-up.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
    .text-semblanza{
        background-color: rgba(0, 0, 0, 0.541);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
         p{
             width: 80%;
             color: white;
             text-align: center;
         }
    }
}



.music{
    h2{
        font-weight: $subtitle;
        padding-top: 4rem;
        color: $red;
        text-align: center;
    }
    padding: 2rem;
    background: #1A1A1A;
    .content-albums{
        margin-top: 4rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: white;
        text-align: center;
        h3{
            font-size: 1.2rem;
        }
        .album{
            margin: .6rem;
            width: 400px;
        }
    }
}

.members{
    padding: 0;
    margin: 2rem auto 0 auto;
    overflow: hidden; 
    position:relative;
    display: flex;
    flex-flow: row;
    h2{
        font-weight: $subtitle;
    }
        p{
            color: white;
            text-align: center;
        }
        h3{
            color: white;
            text-align: center;
        }
        img {
           padding-right: 30px;
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
    }
}

.tns-nav {
  text-align: center;
  margin-top: 13px;
  padding-bottom: 2rem;
}

.tns-nav button{
    width: 11px;
    height: 11px;
    border-radius: 20px;
    border: none;
    padding: 0;
    margin: 0 5px;
    background-color: #bebebe63;
  }
  .tns-nav button.tns-nav-active{
    background-color: $red;
  }

.video-contenedor{
    padding: 4rem;
    background: $section;
    text-align: center;
    color: $red;
    font-size: 4rem;
    .video{
        margin-top: 4rem;
    }
    .canal{
        color: $red;
        padding: 0;
        font-size: 2.9rem;
        p{
            margin-top: -.7rem;
            color: white;
            font-weight: 100;
            letter-spacing: 2px;
            font-size: .8rem;
        }

    }
}

.dates{
    h2{
        text-align: center;
        padding-top: 4rem;
        color: $red;
        font-weight: $subtitle;
    }
    .flyers{
        margin-top: 4rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .gig{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2rem;
            overflow: hidden;
            margin-top: 1rem;
      
        }
    }
}

