.dates{
    padding-top: 2rem;
    width: 100%;
    background: black;
    overflow: hidden;
    h2{
        text-align: center;
        color: $primary-color;
        font-weight: 900;
        letter-spacing: .1rem;
    }
    &__flyers{
        position: relative;
        overflow: hidden;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        
        
    }
    &__gig{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        
    }
    &__description{
        color: $mainText;
        margin-top: 1rem;
        text-align: center;
    }

    &__evento{
        padding: 0 1rem;
    }
    &__venue{
        margin: 0;
    }
    .embed-responsive-9by16{
        padding: 0;
        overflow: hidden;
        height: 400px;
    }
}

