.dates{
    padding-top: 2rem;
    width: 100%;
    background: black;
    overflow: hidden;
    h2{
        text-align: center;
        color: $primary-color;
        font-weight: 900;
        letter-spacing: .1rem;
    }
    &__flyers{
        position: relative;
        overflow: hidden;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        @include responsive (tab-port) {
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin: 0;

        }
        @include responsive (desktop) {
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        
        
    }
    &__gig{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        @include responsive (tab-port) {
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 40%;
            margin: 2rem 1rem;

        }
        @include responsive (desktop) {
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: 40%;
            margin  : 2rem 1rem;
        }
        
    }
    &__description{
        width: 400px;
        color: $mainText;
        margin-top: 1rem;
        text-align: center;
        h3{
            font-size: 1.2rem;
            font-weight: 800;
            margin: 0;
        }
        p{
            font-size: .8rem;
        }
    }

    &__evento{
        padding: 0 1rem;
    }
    &__venue{
        margin: 0;
    }
    .embed-responsive-9by16{
        padding: 0;
        overflow: hidden;
        height: 400px;
    }
}

