.footer{
    width: 100%;
    background: $section;
    display: flex;
    flex-flow: column;
    align-items: center;
    &__autor{
        p{
            color: white;
            font-size: .7rem;
            font-weight: 600;
        }
    }

    &__logo{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            width: 150px;
        }
    }
    &__menu{
        a{
            color: $mainText;
            font-weight: 600;
            transition: all ease-in-out .3s;
            &:hover{
                color: $primary-color;
                text-decoration: none;
            }
        }
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        ul{
            width: 230px;
            display: flex;
            flex-flow: row;
            list-style: none;
            align-items: center;
            justify-content: space-around;
            color: $mainText;
            @include responsive (tab-port) {
               width: 230px;
            }
        }
    }

    &__social{
        width: 200px;
        ul{
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            align-items: center;
            flex-flow: row;
            font-size: 1.2rem;
            li{
                i{
                    color: $mainText;
                    transition: all ease-in-out .3s;
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}