.integrantes{
  padding: 0 2rem;
  background: $background;
    h2{
      padding: 2rem 0;  
      font-weight: 900;
      color: $primary-color;
      text-align: center;
  }
}
.members{
    width: 100%;
    overflow: hidden; 
    position:relative;
   
    
        p{
          color: $mainText;
          font-size: 1rem;
          text-align: center;
          margin: 0;
        }
        h3{
          padding-top: 1rem;
          color: $mainText;
          text-align: center;
          margin-bottom: 0;
        }
        img {
          display: inline-block;
          vertical-align: top;
          width: 100%;
          
    }
    .brands{
      width: 100%;
      display: flex;
      justify-content: center;
      img{
        width: 70px;
        padding: 0;
        
      }
    }
}

.tns-nav {
  text-align: center;
  margin-top: 13px;
  padding-bottom: 2rem;
}

.tns-nav button{
    width: 9px;
    height: 9px;
    border-radius: 20px;
    border: none;
    padding: 0;
    margin: 0 5px;
    background-color: #bebebe63;
  }
  .tns-nav button.tns-nav-active{
    background-color: $primary-color;
  }
  