.music{
    padding: 2rem;
    background: $section;
    &__container{
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: $mainText;
        text-align: center;
    }
    &__albums{
        margin: .6rem;
        width: 400px;
    }
    &__container-text{
        display: flex;
        justify-content: center;
    }
    &__text{
        font-size: 1.2rem;
    }
    &__year{
        margin-top: -.5rem;
    }
}