
/*Base HTML*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    background-origin: border-box;
    font-size: 1rem;

}
body{
    background-color: $background;
    font-size: 1rem;
    color: $mainText;
    line-height: 1.6;
}

span{
    color: $primary-color;
    font-weight: 800;
}