



/* Headers Size */

/*Base HTML*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    background-origin: border-box;
    font-size: 1rem;

    @include headings(){
        font-family: Inter, sans-serif;
    }
    

    @include responsive(tab-land) {
        font-size: 90%; // 9px = 1rem; 9/16px = 56.25%;
    }

    @include responsive(tab-port) {
        font-size: 88%; // 8px 
    }

    @include responsive(phone) {
        font-size: 90%; // 7px = 1rem
    }

    @include responsive(big-desktop) {
        font-size: 87%
    }
}

body{
    background-color: $background;
    font-size: 1rem;
    color: $mainText;
    line-height: 1.6;
}